.upbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 92vw;
    height: 133px;
}

.page-title{
    position: absolute;
    top: 30px;
    left: 45%;
    font-size: 2.7rem;
}

.logo_maior{
    padding: 17px;
}