.upbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 92vw;
    height: 87px;
}

.page-title{
    position: absolute;
    top: 30px;
    left: 45%;
    font-size: 1.8rem;
}

.logo_maior{
    width: 240px;
}

.saudacao-usuario{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.foto-usuario{
    width: 50px;
    height: 50px;
    border-radius: 100px;
    background-color: black;
}