.nav-btn{
    padding: 10px;
    display: flex;
    gap: 20px;
}

.red-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 19px;
    background-color: #AE111B;
    color: whitesmoke;
    width: 225px;
    height: 95px;
}

.no-underline {
    text-decoration: none;
  }

.acessos_icon{
    display: flex;
    justify-content: center;
    width: 70px;
    height: 57px;
}