@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

*{
    font-family: 'Inria sans';
    margin: 0;
    padding: 0;
}

body{
    background-color: #e8e8e8;
}

main{
    margin-left: 6rem;
}

.text-center{
    text-align: center;
}

.text-left{
    text-align: start;
}

.text-right{
    text-align: end;
}

.red{
    color: #AE111B;
}

.filter-options{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 13px;
}

.search-box{
    display: flex;
    align-items: center;
    width: 80%;
    background-color: white;
    border-radius: 10px;
    border: 1px solid #ccc;
}

.search-box img{
    width: 30px;
    height: 30px;
    padding: 5px;
}

.search-box-inside{
    background-color: white;
    border: none;
    width: 92%;
    font-size: 16px;
}

input:focus {
    outline: none;
}

.box-btn{
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: space-around;
    padding: 3px;
}

.editar-btn, .remover-btn, .redirect-btn{
    width: 40%;
    height: 80%;
    padding: 5px;
}

.add-btn{
    height: 40px;
}

.table-box{
    width: 98%;
    margin: 0 auto;
}

.white-line{
    background-color: whitesmoke;
}

.grey-line{
    background-color: #c2c2c2;
}

table{
    width: 100%;
}

thead{
    padding: 20px;
    /* vermelho */
    background-color: #AE111B;
}

thead th{
    text-align: start;
    padding: 15px;
}

td{
    border-bottom: 1px solid #ccc;
    padding: 5px;
}

.text-red{
    color: #cd3d2e;
}

/* modal */

.overlay{
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
}

.overlay{
    background: rgba(49, 49, 49, 0.8);
}