.summary{
    width: 92vw;
    display: grid;
    justify-self: center;
    grid-template-columns: 2fr 1fr;
    gap: 10px;
}

.summary h1{
    padding: 10px;
}

.relatory-summary{
    background-color: #FFF;
    width: 100%;
    height: 25rem;
}

.products-summary{
    background-color: #FFF;
    width: 100%rem;
    height: 25rem;
}

.promotions-summary{
    background-color: #FFF;
    width: 100%rem;
    height: 20rem;
}

