.summary{
    width: 92vw;
    height: 75vh;
    display: grid;
    justify-self: center;
    grid-template-columns: 3fr 1fr;
    gap: 10px 30px;
}

.summary td{
    width: 100%;
    height: 3rem;
}

.summary section{
    border-radius: 4px;
    padding: 10px;
}

.summary iframe{
    width: 100%;
    height: 95%;
}

.relatory-summary{
    background-color: whitesmoke;
    width: 100%;
    height: 97.3%;
    grid-area: span 2;
}

.products-summary{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    background-color: whitesmoke;
    width: 100%;
    height: 21.3rem;
}

.promotions-summary{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    background-color: whitesmoke;
    width: 100%;
    height: 21.3rem;
}

.link-button{
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.highlight{
    color: red;
    font-size: 2rem;
}